{% extends 'bulma/base.html' %}
{% load static %}

{% block body %}

  {# --- Navbar --- #}

  <nav class="navbar has-shadow">
    <div class="navbar-brand">

      {% block navbar_logo %}
        <a class="navbar-item" href="/">
          <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
      {% endblock %}

      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">

        {% block navbar_start %}
          <div class="navbar-item">
            <small>Publishing at the speed of technology</small>
          </div>
        {% endblock %}

      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">

          {% block navbar_end %}
            <div class="navbar-link">
              Benjamin, W
            </div>
            <div class="navbar-dropdown">
              <a href="#" class="navbar-item">
                <div>
                  <span class="icon is-small mr-1">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                  Profile
                </div>
              </a>
              <a href="#" class="navbar-item">
                <div>
                  <span class="icon is-small mr-1">
                    <i class="fa fa-bug"></i>
                  </span>
                  Report Bug
                </div>
              </a>
              <a href="#" class="navbar-item mr-1">
                <div>
                  <span class="icon is-small">
                    <i class="fa fa-sign-out"></i>
                  </span>
                  Sign Out
                </div>
              </a>
            </div>
          {% endblock %}

        </div>
      </div>
    </div>
  </nav>

{% endblock %}