{% extends 'bulma/base_with_navbar_sidebar.html' %}
{% load static %}

{% block sidebar_column %}
  {% include 'includes/sidebar_menu.html' with active_menu='dashboard' %}
{% endblock %}

{% block main_column %}
  <div class="level">
    <div class="level-left">
      <h1 class="subtitle is-3">
        <span class="has-text-grey-light">Hello</span>
        <strong>Benjamin, W</strong>
      </h1>
    </div>

    <div class="level-right">
      <div class="select">
        <select name="" id="">
          <option value="today">Today</option>
          <option value="Yesterday">Yesterday</option>
        </select>
      </div>
    </div>
  </div>

  <div class="columns is-multiline">
    <div class="column is-12-tablet is-6-desktop is-3-widescreen">
      <div class="notification is-link has-text">
        <p class="title is-1">232</p>
        <p class="subtitle is-4">Orders</p>
      </div>
    </div>
    <div class="column is-12-tablet is-6-desktop is-3-widescreen">
      <div class="notification is-info has-text">
        <p class="title is-1">$7,648</p>
        <p class="subtitle is-4">Revenue</p>
      </div>
    </div>
    <div class="column is-12-tablet is-6-desktop is-3-widescreen">
      <div class="notification is-primary has-text">
        <p class="title is-1">1,678</p>
        <p class="subtitle is-4">Visitors</p>
      </div>
    </div>
    <div class="column is-12-tablet is-6-desktop is-3-widescreen">
      <div class="notification is-success has-text">
        <p class="title is-1">20,756</p>
        <p class="subtitle is-4">Pageviews</p>
      </div>
    </div>

    <div class="column is-12-tablet is-6-desktop is-4-fullhd">
      <div class="card">
        <div class="card-content">
          <h2 class="title is-4">
            Latest orders
          </h2>

          {% for i in '1234'|make_list %}
            <div class="level">
              <div class="level-left">
                <div>
                  <p class="title is-5 is-marginless">
                    <a href="#">787352</a>
                  </p>
                  <small>
                    Nov 18, 17:38 by 
                    <a href="#">John Miller</a>
                  </small>
                </div>
              </div>
              <div class="level-right">
                <div class="has-text-right">
                  <p class="title is-5 is-marginless">
                    $56.98
                  </p>
                  <span class="tag is-warning">In progress</span>
                </div>
              </div>
            </div>
          {% endfor %}
  
          <a href="#" class="button is-link is-outlined">
            View all orders
          </a>
        </div>
      </div>
    </div>

    <div class="column is-12-tablet is-6-desktop is-4-fullhd">
      <div class="card">
        <div class="card-content">
          <h2 class="title is-4">
            Most popular books
          </h2>

          {% for i in '123'|make_list %}
            <div class="media">
              <div class="media-left is-marginless">
                <p class="number">1</p>
              </div>
              <div class="media-left">
                <img src="{% static 'images/tensorflow.jpg' %}" alt="" width="40">
              </div>
              <div class="media-content">
                <p class="title is-6 is-spaced is-marginless">
                  <a href="#">Tensorflow for Machine Intelligence </a>
                </p>
              </div>
              <div class="media-right">146 sold</div>
            </div>
          {% endfor %}

          <a href="#" class="button is-link is-outlined">
            View all books
          </a>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
